<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Exercícios Físicos</h2>
    <!--Adicionar informações do banco-->

    <a href="/cadastrarTreino">Inserir Treino</a>

    <table>
        <thead>
            <tbody>
                <%
                    for(var i=0; i < data.length; i++){
                %>
                <tr>
                    <td><%= data[i].exercicio %></td>
                </tr>
                <tr>
                    <td><%= data[i].series %></td>
                    <td><%= data[i].repeticoes %></td>
                    <td><%= data[i].carga %></td>
                    <td><%= data[i].intervalo %></td>
                </tr>
                <%
                    }
                %>
            </tbody>
        </thead>
    </table>
</body>
</html>