<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">

    <div class="menuSuperior">
            <ul class="nav nav-pills">
               <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/metas">Metas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/agua">Água</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" href="/treino">Treino</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/">Sair</a>
               </li>
            </ul>
         </div>

</head>

<body>
        <br />
    <h2 class="centralizando">Exercícios Físicos</h2>
    <br />

    <div class="centralizando">
        <h6> Inserir Treino</h6> <a href="/cadastrarTreino">
            <img src="/img/treinoInserir.png" class="img-fluid imgCenter imgTabela" />
        </a>
    </div>
    <br /><br />

    <div class="marginPadrao">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tbody>
                <%
                    for(var i=0; i < data.length; i++){
                %>
                <tr>
                    <th scope="col"><%= data[i].exercicio %></th>
                </tr>
                <tr>
                    <td>Séries</td>
                    <td>Rep.</td>
                    <td>Carga</td>
                    <td>Inter.</td>
                </tr>
                <tr>


                    <td><%= data[i].series %></td>
                    <td><%= data[i].repeticoes %></td>
                    <td><%= data[i].carga %></td>
                    <td><%= data[i].intervalo %></td>
                </tr>
                <%
                    }
                %>
            </tbody>
            </thead>
        </table>
    </div>
</body>

</html>