<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/home.css">
   <title>Metas Diarias</title>

   <div class="menuSuperior">
      <ul class="nav nav-pills">
         <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" href="/metas">Metas</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/agua">Água</a>
         </li>
         <li class="nav-item">
            <a class="nav-link " href="/treino">Treino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/">Sair</a>
         </li>
      </ul>
   </div>

</head>

<body>
   <br />
   <div class="container">
      <h2 class="textCenter">Metas Diárias</h2>

      <div class="row">
         <img src="/img/icone-nutricao.png" class="img-fluid imgCenter" />
      </div>
      <br />

      <label class="textoDescricao">Para inserir dados nessa seção deverá navegar pelo menu da tabela nutricional e adicionar os alimentos.</label>
      <br /><br />

      <table class="table table-hover table-sm">
         <thead class="thead-light">
            <tbody>
               <%
                  for(var i=0; i < data.length; i++){
               %>
               <tr>
                  <td scope="col" class="tituloTabelaPersol"><%= data[i].periodo %></td>
               </tr>
               <tr>
                  <td class= "fonteTabela"><%= data[i].alimento %></td>
                  <td class= "fonteTabela"><%= data[i].caloriasTotal %><label>&nbsp; kcal</label></td>
                  <td class= "fonteTabela"><%= data[i].carboidratosTotal %><label>g carb</label></td>
                  <td class= "fonteTabela"><%= data[i].proteinasTotal %><label>g prot</label></td>
                  <td class= "fonteTabela"><%= data[i].gorduraTotal %><label>g gord</label></td>
               </tr>
               <%
                  };
               %>
         </tbody>
         </thead>
      </table>

   </div>
</body>

</html>