<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela de Nutrição</title>
</head>
<body>
    <h1>Tabela Nutricional</h1>
    <table>
        <thead>
            <th>ID Alimento</th>
            <th>Alimento</th>
            <th>Calorias</th>
            <th>Carboidratos</th>
            <th>Proteinas</th>
            <th>Gordura</th>
            <tbody>
                <%
                    for(var i=0; i < dados.length; i++){
                %>
                <tr>
                    <td><%= dados[i].idAlimento %></td>
                    <td><%= dados[i].descricao %></td>
                    <td><%= dados[i].calorias %></td>
                    <td><%= dados[i].carboidratos %></td>
                    <td><%= dados[i].proteinas %></td>
                    <td><%= dados[i].gordura %></td>
                </tr>
                <%
                    }
                %>
            </tbody>
        </thead>
    </table>
</body>
</html>