<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela de Nutrição</title>
</head>
<body>
    <h1>Tabela Nutricional</h1>
    <table>
        <thead>
            <tbody>
                <%
                    for(var i=0; i < dados.length; i++){
                %>
                <tr>
                    <td><%= dados[i].descricao %></td>
                </tr>
                <tr>
                <td><%= dados[i].calorias %><label>  kcal  /</label></td>
                    <td><%= dados[i].carboidratos %><label>g  carb  /</label></td>
                    <td><%= dados[i].proteinas %><label>g  prot  /</label></td>
                    <td><%= dados[i].gordura %><label>g  gord</label></td>
                </tr>
                <%
                    }
                %>
            </tbody>
        </thead>
    </table>
</body>
</html>