<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Tabela de Nutrição</title>

    <div class="menuSuperior">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/metas">Metas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/agua">Água</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/treino">Treino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Sair</a>
            </li>
        </ul>
    </div>

</head>

<body>

    <div class="container">

        <br />
        <h3 class="centralizando">Tabela Nutricional</h3>
        <br />

        <img src="/img/tabela.png" class="img-fluid imgCenter imgTabela" />
        <br />

        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tbody>
                <%
                    for(var i=0; i < dados.length; i++){
                %>
                <tr>
                    <th scope="col"><%= dados[i].descricao %></th>
                </tr>
                <tr>
                    <td><%= dados[i].calorias %><label> kcal /</label></td>
                    <td><%= dados[i].carboidratos %><label>g carb /</label></td>
                    <td><%= dados[i].proteinas %><label>g prot /</label></td>
                    <td><%= dados[i].gordura %><label>g gord</label></td>
                    <td><a href="/exibiralimento/<%= dados[i].idAlimento %>">Add</a></td>
                </tr>
                <%
                    }
                %>
            </tbody>
            </thead>
        </table>
    </div>
</body>

</html>